# Radio

In [1]:
import pandas as pd

#### Estaciones Repetidoras

In [2]:
est_repetidoras = pd.read_csv('/Volumes/KINGSTON/Henry/Proyecto 2/PI_DA/Datasets/Opcionales/Espectro Radioeléctrico (Radio)/EstacionesRepetidoras_20220126.csv')

In [3]:
est_repetidoras.head()

,Frecuencia de Salida [MHz],Frecuencia de Entrada [MHz],Diferencia en Frecuencia [MHz],Subtono [Hz],Usa Subtono,Localidad,Provincia,Señal Distintiva,Radioclub,CUIT,Vencimiento
0,"29,67","29,57","-0,1",0,NaN,CORDOBA,CORDOBA,LU4HH,RADIO CLUB CORDOBA,30660960925,6/12/2023
1,"53,7","52,7",-1,67,NaN,CABA,CABA,LU5CBA,CENTRO DE RADIOAFICIONADOS CIUDAD DE BUENOS AIRES,30678983388,13/9/2023
2,"145,21","144,61","-0,6",67,NaN,SAN RAFAEL,MENDOZA,LU1MEK,PABLO DANIEL ARCO,20248669862,26/3/2024
3,"145,21","144,61","-0,6",67,NaN,AVELLANEDA,BUENOS AIRES,LU8EB,MARCELO OMAR BLANCO,20230604437,8/11/2023
4,"145,23","144,63","-0,6",67,NaN,LANUS,BUENOS AIRES,LU8EB,MARCELO OMAR BLANCO,20230604437,8/11/2023

In [4]:
est_repetidoras.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 191 entries, 0 to 190
Data columns (total 11 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Frecuencia de Salida [MHz]      191 non-null    object
 1   Frecuencia de Entrada [MHz]     191 non-null    object
 2   Diferencia en Frecuencia [MHz]  191 non-null    object
 3   Subtono [Hz]                    191 non-null    object
 4   Usa Subtono                     8 non-null      object
 5   Localidad                       191 non-null    object
 6   Provincia                       191 non-null    object
 7   Señal Distintiva                191 non-null    object
 8   Radioclub                       191 non-null    object
 9   CUIT                            191 non-null    int64
 10  Vencimiento                     191 non-null    object
dtypes: int64(1), object(10)
memory usage: 16.5+ KB

#### Listado RAF

In [7]:
raf = pd.read_csv('/Volumes/KINGSTON/Henry/Proyecto 2/PI_DA/Datasets/Opcionales/Espectro Radioeléctrico (Radio)/Listado RAF. AL 15.06.2023.csv')

In [8]:
raf.head()

,Titular de la Licencia,Señal Distintiva,Categoría,Expiración,Provincia,Localidad,Unnamed: 6,Unnamed: 7
0,PROTECCION CIVIL (MIN. SEG. NACION),LU0CD,SUPERIOR,21/05/25,Ciudad de Buenos Aires,CIUDAD AUTONOMA DE BUENOS AIRES,NaN,NaN
1,ARTURO JORGE PEYRU,LU1AAA,NOVICIO,07/05/24,Ciudad de Buenos Aires,CIUDAD AUTONOMA DE BUENOS AIRES,NaN,NaN
2,CHRISTIAN LUIS DIAZ,LU1AAB,NOVICIO,26/04/24,Ciudad de Buenos Aires,CIUDAD AUTONOMA DE BUENOS AIRES,NaN,NaN
3,WENCESLAO BERNARDINO MOREL,LU1AAC,GENERAL,16/05/24,Ciudad de Buenos Aires,CIUDAD AUTONOMA DE BUENOS AIRES,NaN,NaN
4,JUAN ANTONIO BILOTA,LU1AAD,NOVICIO,14/08/24,Ciudad de Buenos Aires,CIUDAD AUTONOMA DE BUENOS AIRES,NaN,NaN

In [9]:
raf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14995 entries, 0 to 14994
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Titular de la Licencia  14995 non-null  object
 1   Señal Distintiva        14995 non-null  object
 2   Categoría               14995 non-null  object
 3   Expiración              14995 non-null  object
 4   Provincia               14992 non-null  object
 5   Localidad               14989 non-null  object
 6   Unnamed: 6              0 non-null      float64
 7   Unnamed: 7              0 non-null      float64
dtypes: float64(2), object(6)
memory usage: 937.3+ KB

#### Señales Distinticas Especiales

In [10]:
seniales_esp = pd.read_csv('/Volumes/KINGSTON/Henry/Proyecto 2/PI_DA/Datasets/Opcionales/Espectro Radioeléctrico (Radio)/SenialesDistintivasEspeciales_20220126.csv')

In [11]:
seniales_esp.head()

,Señal distintiva especial,Radio Club / Institución / Radioaficionado,CUIT,Señal distintiva,Vigencia
0,AZ1A,JUAN ANTONIO GUTIERREZ,20120443144,LU1AW,31/12/2022
1,L20X,CARLOS WALTER HEREDIA,20160256517,LU1XP,31/12/2022
2,L30RCG,RADIO CLUB GUALEGUAYCHU,30671054780,LU1JGU,31/12/2022
3,L50EO,AVELLANEDA RADIO CLUB,30662189576,LU7EO,31/12/2022
4,L70SF,RADIO CLUB LA RIOJA,30671851869,LU1SF,31/12/2022

In [12]:
seniales_esp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 5 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Señal distintiva especial                   61 non-null     object
 1   Radio Club / Institución / Radioaficionado  61 non-null     object
 2   CUIT                                        61 non-null     int64
 3   Señal distintiva                            61 non-null     object
 4   Vigencia                                    61 non-null     object
dtypes: int64(1), object(4)
memory usage: 2.5+ KB

Los tres datasets comparten la Señal Distintiva, ve como relacionarlas.

# Telefonía Fija

#### Archivo 1

In [13]:
tel_fija_uno = pd.read_csv('/Volumes/KINGSTON/Henry/Proyecto 2/PI_DA/Datasets/Opcionales/Telefonía Fija/telefonia_fija.csv')

In [14]:
tel_fija_uno.head()

,Año,Trimestre,Provincia,Accesos telefonía fija por cada 100 hab,Accesos telefonía fija por cada 100 hogares
0,2014,1,Buenos Aires,"26,72","85,26"
1,2014,1,Capital Federal,"52,66","128,57"
2,2014,1,Catamarca,"10,03","39,45"
3,2014,1,Chaco,"9,09","34,02"
4,2014,1,Chubut,"17,66","57,59"

In [15]:
tel_fija_uno.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 5 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   Año                                          840 non-null    int64
 1   Trimestre                                    840 non-null    int64
 2   Provincia                                    840 non-null    object
 3   Accesos telefonía fija por cada 100 hab      840 non-null    object
 4   Accesos telefonía fija por cada 100 hogares  840 non-null    object
dtypes: int64(2), object(3)
memory usage: 32.9+ KB

#### Archivo 2

In [16]:
tel_fija_dos = pd.read_csv('/Volumes/KINGSTON/Henry/Proyecto 2/PI_DA/Datasets/Opcionales/Telefonía Fija/telefonia_fija (1).csv')

In [17]:
tel_fija_dos.head()

,Año,Trimestre,Accesos telefonía fija por cada 100 hab,Accesos telefonía fija por cada 100 hogares
0,2022,3,"16,56","53,34"
1,2022,2,"16,84","54,27"
2,2022,1,"16,95","54,67"
3,2021,4,"16,74","53,88"
4,2021,3,"15,41","49,64"

In [18]:
tel_fija_dos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 4 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   Año                                          35 non-null     int64
 1   Trimestre                                    35 non-null     int64
 2   Accesos telefonía fija por cada 100 hab      35 non-null     object
 3   Accesos telefonía fija por cada 100 hogares  35 non-null     object
dtypes: int64(2), object(2)
memory usage: 1.2+ KB

#### Archivo 3

In [19]:
tel_fija_tres = pd.read_csv('/Volumes/KINGSTON/Henry/Proyecto 2/PI_DA/Datasets/Opcionales/Telefonía Fija/telefonia_fija (2).csv')

In [20]:
tel_fija_tres.head()

,Año,Trimestre,Provincia,Accesos telefonía fija (total),Accesos telefonía fija (hogares),Accesos telefonía fija (comercial),Accesos telefonía fija (gobierno),Accesos telefonía fija (otros)
0,2022,3,Buenos Aires,3.422.524,3.129.178,228.867,15.056,49.423
1,2022,3,Capital Federal,1.675.854,1.532.216,112.066,7.372,24.200
2,2022,3,Catamarca,25.672,23.471,1.717,113.000,371.000
3,2022,3,Chaco,65.662,60.034,4.391,289.000,948.000
4,2022,3,Chubut,72.311,66.114,4.835,318.000,1.044

In [21]:
tel_fija_tres.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 8 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Año                                 840 non-null    int64
 1   Trimestre                           840 non-null    int64
 2   Provincia                           840 non-null    object
 3   Accesos telefonía fija (total)      840 non-null    object
 4   Accesos telefonía fija (hogares)    840 non-null    object
 5   Accesos telefonía fija (comercial)  840 non-null    float64
 6   Accesos telefonía fija (gobierno)   840 non-null    float64
 7   Accesos telefonía fija (otros)      840 non-null    float64
dtypes: float64(3), int64(2), object(3)
memory usage: 52.6+ KB

#### Archivo 4

In [22]:
tel_fija_cuatro = pd.read_csv('Datasets/Opcionales/Telefonía Fija/telefonia_fija (3).csv')

In [24]:
tel_fija_cuatro.head()

,Año,Trimestre,Provincia,Accesos telefonía fija por cada 100 hab,Accesos telefonía fija por cada 100 hogares
0,2014,1,Buenos Aires,26.72,85.26
1,2014,1,Capital Federal,52.66,128.57
2,2014,1,Catamarca,10.03,39.45
3,2014,1,Chaco,9.09,34.02
4,2014,1,Chubut,17.66,57.59

In [25]:
tel_fija_cuatro.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 5 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   Año                                          840 non-null    int64
 1   Trimestre                                    840 non-null    int64
 2   Provincia                                    840 non-null    object
 3   Accesos telefonía fija por cada 100 hab      840 non-null    float64
 4   Accesos telefonía fija por cada 100 hogares  840 non-null    float64
dtypes: float64(2), int64(2), object(1)
memory usage: 32.9+ KB

#### Archivo 5

In [26]:
tel_fija_cinco = pd.read_csv('Datasets/Opcionales/Telefonía Fija/telefonia_fija (4).csv')

In [27]:
tel_fija_cinco.head()

    Año  Trimestre Ingresos (miles de $)
0  2014          1          2.916.071,75
1  2014          2           2.974.865,2
2  2014          3          3.105.462,02
3  2014          4           3.339.690,9
4  2015          1          3.260.124,75

In [28]:
tel_fija_cinco.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Año                    35 non-null     int64
 1   Trimestre              35 non-null     int64
 2   Ingresos (miles de $)  35 non-null     object
dtypes: int64(2), object(1)
memory usage: 968.0+ bytes

#### Archivo 6

In [30]:
tel_fija_seis = pd.read_csv('Datasets/Opcionales/Telefonía Fija/telefonia_fija (5).csv')

In [31]:
tel_fija_seis.head()

,Año,Trimestre,Accesos telefonía fija (total),Accesos telefonía fija (hogares),Accesos telefonía fija (comercial),Accesos telefonía fija (gobierno),Accesos telefonía fija (otros),Periodo
0,2014,1,9.562.231,7.897.980,1.065.834,30.917,567.500,Ene-Mar 2014
1,2014,2,9.548.994,7.872.511,1.073.038,31.339,572.106,Abr-Jun 2014
2,2014,3,9.613.361,7.924.613,1.091.747,32.516,564.485,Jul-Sept 2014
3,2014,4,9.689.752,7.989.623,1.106.502,33.139,560.488,Oct-Dic 2014
4,2015,1,10.086.221,8.358.053,1.134.427,36.888,556.853,Ene-Mar 2015

In [32]:
tel_fija_seis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 8 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Año                                 35 non-null     int64
 1   Trimestre                           35 non-null     int64
 2   Accesos telefonía fija (total)      35 non-null     object
 3   Accesos telefonía fija (hogares)    35 non-null     object
 4   Accesos telefonía fija (comercial)  35 non-null     object
 5   Accesos telefonía fija (gobierno)   35 non-null     float64
 6   Accesos telefonía fija (otros)      35 non-null     float64
 7   Periodo                             35 non-null     object
dtypes: float64(2), int64(2), object(4)
memory usage: 2.3+ KB

Hay varios archivos que se pueden relacionar mediante la provincia.

# Telefonía Móvil

#### Portabilidad 1

In [33]:
porta_uno = pd.read_csv('Datasets/Opcionales/Telefonía Movil/Portabilidad.csv')

In [34]:
porta_uno.head()

    Año  Mes Personal    Claro  Nextel Movistar  Otros
0  2022   10   60,855  117,430     NaN  119,716  153.0
1  2022    9   63,315  131,071     NaN  115,906  143.0
2  2022    8   68,659  132,676     NaN  115,879   42.0
3  2022    7   74,674  111,849     NaN  111,521   27.0
4  2022    6   77,276  120,505     NaN  115,937   54.0

In [35]:
porta_uno.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Año       128 non-null    int64
 1   Mes       128 non-null    int64
 2   Personal  128 non-null    object
 3   Claro     128 non-null    object
 4   Nextel    78 non-null     float64
 5   Movistar  128 non-null    object
 6   Otros     8 non-null      float64
dtypes: float64(2), int64(2), object(3)
memory usage: 7.1+ KB

#### Portabilidad 2

In [36]:
porta_dos = pd.read_csv('Datasets/Opcionales/Telefonía Movil/Portabilidad (1).csv')

In [37]:
porta_dos.head()

    Año  Mes Personal   Claro  Nextel Movistar  Otros Periodo
0  2012    3      -17      19       0       -2    NaN  Mar-12
1  2012    4    3,508  -1,134    -189   -2,185    NaN  Apr-12
2  2012    5    1,253   4,792    -853   -5,192    NaN  May-12
3  2012    6    3,263  -1,248    -848   -1,167    NaN  Jun-12
4  2012    7    5,554  -3,847  -1,105     -602    NaN  Jul-12

In [38]:
porta_dos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Año       128 non-null    int64
 1   Mes       128 non-null    int64
 2   Personal  128 non-null    object
 3   Claro     128 non-null    object
 4   Nextel    70 non-null     object
 5   Movistar  128 non-null    object
 6   Otros     8 non-null      float64
 7   Periodo   128 non-null    object
dtypes: float64(1), int64(2), object(5)
memory usage: 8.1+ KB

#### Telefonía Móvil 1

In [39]:
tel_movil_uno = pd.read_csv('Datasets/Opcionales/Telefonía Movil/Telefonia_movil.csv')

In [40]:
tel_movil_uno.head()

    Año  Trimestre  Accesos por cada 100 hab        Periodo
0  2013          1                       154   Ene-Mar 2013
1  2013          2                       156   Abr-Jun 2013
2  2013          3                       159  Jul-Sept 2013
3  2013          4                       159   Oct-Dic 2013
4  2014          1                       148   Ene-Mar 2014

In [41]:
tel_movil_uno.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Año                       39 non-null     int64
 1   Trimestre                 39 non-null     int64
 2   Accesos por cada 100 hab  39 non-null     int64
 3   Periodo                   39 non-null     object
dtypes: int64(3), object(1)
memory usage: 1.3+ KB

#### Telefonía Móvil 2

In [42]:
tel_movil_dos = pd.read_csv('Datasets/Opcionales/Telefonía Movil/Telefonia_movil (1).csv')

In [43]:
tel_movil_dos.head()

,Año,Trimestre,Total de accesos pospago,Total de accesos prepago,Total de accesos operativos,Periodo
0,2013,1,7.761.349,57.147.608,64.908.957,Ene-Mar 2013
1,2013,2,7.769.110,58.004.822,65.773.932,Abr-Jun 2013
2,2013,3,8.002.183,59.048.909,67.051.092,Jul-Sept 2013
3,2013,4,8.674.516,58.894.516,67.569.032,Oct-Dic 2013
4,2014,1,8.224.482,54.725.089,62.949.571,Ene-Mar 2013

In [44]:
tel_movil_dos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 6 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Año                          39 non-null     int64
 1   Trimestre                    39 non-null     int64
 2   Total de accesos pospago     39 non-null     object
 3   Total de accesos prepago     39 non-null     object
 4   Total de accesos operativos  39 non-null     object
 5   Periodo                      39 non-null     object
dtypes: int64(2), object(4)
memory usage: 2.0+ KB

#### Telefonía Móvil 3

In [45]:
tel_movil_tres = pd.read_csv('Datasets/Opcionales/Telefonía Movil/Telefonia_movil (2).csv')

In [46]:
tel_movil_tres.head()

,Año,Trimestre,Llamadas pospago salientes (miles),Llamadas prepago salientes (miles),Total de llamadas salientes (miles),Periodo
0,2013,1,3.796.547,3412766,7209313,Ene-Mar 2013
1,2013,2,4.156.872,3699387,7856258,Abr-Jun 2013
2,2013,3,4.466.727,3814925,8281653,Jul-Sept 2013
3,2013,4,4.743.791,3906876,8650667,Oct-Dic 2013
4,2014,1,4.001.399,3589181,7590580,Ene-Mar 2013

In [47]:
tel_movil_tres.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 6 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Año                                  39 non-null     int64
 1   Trimestre                            39 non-null     int64
 2   Llamadas pospago salientes (miles)   39 non-null     object
 3   Llamadas prepago salientes (miles)   39 non-null     int64
 4   Total de llamadas salientes (miles)  39 non-null     int64
 5   Periodo                              39 non-null     object
dtypes: int64(4), object(2)
memory usage: 2.0+ KB

#### Telefonía Móvil 4

In [48]:
tel_movil_cuatro = pd.read_csv('Datasets/Opcionales/Telefonía Movil/Telefonia_movil (3).csv')

In [49]:
tel_movil_cuatro.head()

,Año,Trimestre,Minutos pospago salientes (miles),Minutos prepago salientes (miles),Total de minutos salientes (miles),Periodo
0,2013,1,8.785.943,6582117,15368060,Ene-Mar 2013
1,2013,2,9.512.689,7108640,16621329,Abr-Jun 2013
2,2013,3,10.315.484,7335154,17650638,Jul-Sept 2013
3,2013,4,9.809.515,6250549,16060064,Oct-Dic 2013
4,2014,1,10.128.751,5799223,15927974,Ene-Mar 2013

In [50]:
tel_movil_cuatro.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 6 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Año                                 39 non-null     int64
 1   Trimestre                           39 non-null     int64
 2   Minutos pospago salientes (miles)   39 non-null     object
 3   Minutos prepago salientes (miles)   39 non-null     int64
 4   Total de minutos salientes (miles)  39 non-null     int64
 5   Periodo                             39 non-null     object
dtypes: int64(4), object(2)
memory usage: 2.0+ KB

#### Telefonía Móvil 5

In [51]:
tel_movil_cinco = pd.read_csv('/Volumes/KINGSTON/Henry/Proyecto 2/PI_DA/Datasets/Opcionales/Telefonía Movil/Telefonia_movil (4).csv')

In [52]:
tel_movil_cinco.head()

    Año  Trimestre Ingresos (miles de $)        Periodo
0  2013          1          $ 13.135.235   Ene-Mar 2013
1  2013          2          $ 13.970.806   Abr-Jun 2013
2  2013          3          $ 15.235.659  Jul-Sept 2013
3  2013          4          $ 16.218.846   Oct-Dic 2013
4  2014          1          $ 15.938.353   Ene-Mar 2013

In [53]:
tel_movil_cinco.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 4 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Año                    39 non-null     int64
 1   Trimestre              39 non-null     int64
 2   Ingresos (miles de $)  39 non-null     object
 3   Periodo                39 non-null     object
dtypes: int64(2), object(2)
memory usage: 1.3+ KB

#### Telefonía Móvil 6

In [54]:
tel_movil_seis = pd.read_csv('/Volumes/KINGSTON/Henry/Proyecto 2/PI_DA/Datasets/Opcionales/Telefonía Movil/Telefonia_movil (5).csv')

In [55]:
tel_movil_seis.head()

    Año  Trimestre Número de SMS salientes        Periodo
0  2013          1          36.430.004.057   Ene-Mar 2013
1  2013          2          34.255.065.773   Abr-Jun 2013
2  2013          3          33.217.669.903  Jul-Sept 2013
3  2013          4          22.547.130.953   Oct-Dic 2013
4  2014          1          18.393.198.881   Ene-Mar 2013

In [56]:
tel_movil_seis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Año                      39 non-null     int64
 1   Trimestre                39 non-null     int64
 2   Número de SMS salientes  39 non-null     object
 3   Periodo                  39 non-null     object
dtypes: int64(2), object(2)
memory usage: 1.3+ KB

# Televisión Paga

#### Archivo 1

In [57]:
tele_paga_uno = pd.read_csv('/Volumes/KINGSTON/Henry/Proyecto 2/PI_DA/Datasets/Opcionales/Televisión de Paga/Television.csv')

In [58]:
tele_paga_uno.head()

,Año,Trimestre,Provincia,Accesos TV por suscripción por cada 100 hab,Accesos TV por suscripción por cada 100 hogares
0,2022,3,Buenos Aires,"16,75","49,60"
1,2022,3,Capital Federal,"24,12","58,73"
2,2022,3,Catamarca,"12,36","48,58"
3,2022,3,Chaco,"9,9","37,06"
4,2022,3,Chubut,"12,48","40,73"

In [59]:
tele_paga_uno.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 5 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Año                                              840 non-null    int64
 1   Trimestre                                        840 non-null    int64
 2   Provincia                                        840 non-null    object
 3   Accesos TV por suscripción por cada 100 hab      840 non-null    object
 4   Accesos TV por suscripción por cada 100 hogares  840 non-null    object
dtypes: int64(2), object(3)
memory usage: 32.9+ KB

#### Archivo 2

In [60]:
tele_paga_dos = pd.read_csv('/Volumes/KINGSTON/Henry/Proyecto 2/PI_DA/Datasets/Opcionales/Televisión de Paga/Television (1).csv')

In [61]:
tele_paga_dos.head()

,Año,Trimestre,Accesos TV por suscripción,Accesos TV satelital,Periodo
0,2022,3,7.665.931,2.064.699,Jul-Sept 2022
1,2022,2,7.647.584,2.064.637,Abr-Jun 2022
2,2022,1,7.564.827,2.049.628,Ene-Mar 2022
3,2021,4,7.596.758,2.010.217,Oct-Dic 2021
4,2021,3,7.676.892,2.147.571,Jul-Sept 2021

In [62]:
tele_paga_dos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 5 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Año                         34 non-null     int64
 1   Trimestre                   34 non-null     int64
 2   Accesos TV por suscripción  34 non-null     object
 3   Accesos TV satelital        34 non-null     object
 4   Periodo                     34 non-null     object
dtypes: int64(2), object(3)
memory usage: 1.5+ KB

#### Archivo 3

In [64]:
tele_paga_tres = pd.read_csv('/Volumes/KINGSTON/Henry/Proyecto 2/PI_DA/Datasets/Opcionales/Televisión de Paga/Television (2).csv')

In [65]:
tele_paga_tres.head()

,Año,Trimestre,Accesos TV por suscripción por cada 100 hab,Accesos TV satelital por cada 100 hab,Accesos TV por suscripción por cada 100 hogares,Accesos TV satelital por cada 100 hogares
0,2022.0,3.0,"16,56","4,46","52,97","14,27"
1,2022.0,2.0,"16,55","4,47","53,01","14,31"
2,2022.0,1.0,"16,41","4,45","52,61","14,25"
3,2021.0,4.0,"16,52","4,37","52,99","14,02"
4,2021.0,3.0,"16,73","4,68","53,72","15,03"

In [66]:
tele_paga_tres.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 6 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Año                                              35 non-null     float64
 1   Trimestre                                        35 non-null     float64
 2   Accesos TV por suscripción por cada 100 hab      36 non-null     object
 3   Accesos TV satelital por cada 100 hab            36 non-null     object
 4   Accesos TV por suscripción por cada 100 hogares  36 non-null     object
 5   Accesos TV satelital por cada 100 hogares        36 non-null     object
dtypes: float64(2), object(4)
memory usage: 1.8+ KB

#### Archivo 4

In [67]:
tele_paga_cuatro = pd.read_csv('/Volumes/KINGSTON/Henry/Proyecto 2/PI_DA/Datasets/Opcionales/Televisión de Paga/Television (3).csv')

In [68]:
tele_paga_cuatro.head()

    Año  Trimestre        Provincia Accesos TV por suscripción
0  2022          3     Buenos Aires                  2.998.021
1  2022          3  Capital Federal                    743.338
2  2022          3        Catamarca                     52.274
3  2022          3            Chaco                    121.771
4  2022          3           Chubut                     80.020

In [69]:
tele_paga_cuatro.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 4 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Año                         840 non-null    int64
 1   Trimestre                   840 non-null    int64
 2   Provincia                   840 non-null    object
 3   Accesos TV por suscripción  840 non-null    object
dtypes: int64(2), object(2)
memory usage: 26.4+ KB

#### Archivo 5

In [70]:
tele_paga_cinco = pd.read_csv('/Volumes/KINGSTON/Henry/Proyecto 2/PI_DA/Datasets/Opcionales/Televisión de Paga/Television (4).csv')

In [71]:
tele_paga_cinco.head()

,Año,Trimestre,Ingresos TV por suscripción (miles de $),Ingresos TV satelital (miles de $)
0,2022,3,"$ 52.242.784,63","$ 27.073.190,89"
1,2022,2,"$ 46.292.673,44","$ 23.559.484,83"
2,2022,1,"$ 42.093.870,19","$ 21.268.086,24"
3,2021,4,"$ 38.273.391,8","$ 18.038.065,44"
4,2021,3,"$ 36.398.025,53","$ 18.039.519,5"

In [72]:
tele_paga_cinco.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 4 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Año                                        35 non-null     int64
 1   Trimestre                                  35 non-null     int64
 2   Ingresos TV por suscripción  (miles de $)  35 non-null     object
 3   Ingresos TV satelital (miles de $)         35 non-null     object
dtypes: int64(2), object(2)
memory usage: 1.2+ KB